
.links{
    display: flex;
    align-items: center;
    gap:20px;
  
}
.login,
.logout{
    padding: 5px;
    border: none;
    background-color: #53c28b;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}
.menuButton,
.mobileLinks{
    display: none;
}

@media (max-width:768px) {
    .links{
        display: none;

    }
    .mobileLinks{
        position: absolute;
        top: 100px;
        right: 0;
        width: 50%;
        height: calc(100vh - 100px) ;
        background-color: grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        z-index: 1000;
        color: white;
        border-radius: 30px 30px 30px 30px;
    }
    .menuButton{
        display: block;
        cursor: pointer;
    }
}

.light{
    background-color: white;
    color: #111;
  }
  
  .dark{
    background-color: #111;
    color: #bbb;
  }
  .theme{
    transition: 1s all ease; 
  }
