.container{
    min-width: 50px;
    padding:10px;
    border-radius: 20px;
    font-weight: 500px;
    text-align: center;
}

.active{
    background-color: white;
    color: #111;
}

@media (max-width: 640px) {
    .container {
        min-width: 80px; /* Adjust as needed */
        padding: 8px; /* Adjust as needed */
        font-weight: 400; /* Adjust as needed */
    }
}